doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
       
    //- include ../public/scripts/search.js
        
          
    body 
        form#searchForm(action="/api/search") 
            input#search(type="text" name="job")
            input#city(type="text" name="city")
            button#submitBtn(type="submit" value="Search") Enviar 
              
    if getByInputValue||findJob   
            ul 
                each element in getByInputValue ? getByInputValue : [] || findJob ? findJob : []
                
                       
                                
                                    a#adTitle(href='#{element.titleUrl}') 
                                    h2 Titulo: #{element.title} 
                                    p Ciudad: #{element.city}
                                    p Fecha de subida: #{element.date}
                                    p Empresa: #{element.company}
                                    p Descripcion: #{element.description}     