require('../controllers/adminControllers.js')
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Vista de usuarios registrados
    body
         each users in usersAdmin
            h1 Usuarios registrados
            p Id usuario: #{users.id}
            p Email: #{users.email}
            p Password: #{users.password}
            p Name: #{users.full_name}
            p Role: #{users.role}