
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ./styles.css
        title Vista de usuarios registrados
    body
         each user in users
            h3 Usuario:
            p Id usuario: #{user.id}
            p Email: #{user.email}
            p Password: #{user.password}
            p Name: #{user.full_name}
            p Role: #{user.role}
            button#DeleteBtn(type="click" value="Delete" action=`/users?email="${Email}`) Delete

         form#userCreate(action="/users" method="POST")
            h2 CREAR USUARIO 
            label(for="") ID de usuario: 
            input#id(type="text" name="id")
            label(for="") Email:  
            input#email(type="text" name="email")
            label(for="") Password
            input#password(type="text" name="password")
            label(for="") Nombre Completo:  
            input#fullName(type="text" name="full_name")
            label(for="") Rol de usuario:  
            input#role(placeholder="admin o client" type="text" name="role")
            button#submitBtn(type="submit" value="Create") Crear

            ul#usersList(action="/users" method="POST")
            script(src="../public/scripts/usersAdmin.js") 
           
         form#userUpdate(action="/users" method="PUT")
           h2 ACTUALIZAR USUARIO 
            br
            label(for="") ID de usuario: 
            input#id2(type="text" name="id2")
            label(for="") Email:  
            input#2email(type="text" name="email2")
            label(for="") Password
            input#password2(type="text" name="password2")
            label(for="") Nombre Completo:  
            input#fullName2(type="text" name="full_name2")
            label(for="") Rol de usuario:  
            input#role2(placeholder="admin o client" type="text" name="role2")
            button#submitBtn(type="submit" value="PUT") Actualizar 
         ul#adsList(action="/api/search" method="PUT")  

         form#userUpdate(action="/users" method="DELETE")
           h2 ELIMINAR USUARIO 
            br
            label(for="") ID de usuario: 
            input#id3(type="text" name="id3")
            label(for="") Email:  
            input#3email(type="text" name="email3")
            label(for="") Password
            input#password3(type="text" name="password3")
            label(for="") Nombre Completo:  
            input#fullName3(type="text" name="full_name3")
            label(for="") Rol de usuario:  
            input#role3(placeholder="admin o client" type="text" name="role3")
            button#submitBtn(type="submit" value="DELETE" action=`/users?email="${Email`) BORRAR 
         ul#adsList(action="/api/search" method="DELETE")  
         script(src="/scripts/usersAdmin.js") 